<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
    <h1>Even as Minnesota gradually reopens, daily life remains altered</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">June 22, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

      <section class="container-lg leadin">
        <p>After more than a month of shelter-in-place and two weeks gradual rollbacks of COVID-19 lockdowns, Minnesotans are socially distancing less and more engaged with summertime activities.</p>

        <p>Yet with many summer events canceled for the year and several restrictions still in place, normalcy can still seem far off.</p>

        <p>Data reveal some ways Minnesotans have started returning to normal routines.</p>
      </section>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Some things are normalizing</h2>

        <p>Minnesotans have been slacking off social distancing for a while, long before lockdowns started easing, so reclaiming normal traffic volume and daily movements didn't take long.</p>

        <p>After weeks of creeping back toward normal levels, Minnesota's roadways are closer to normal daily activity levels.</p>
      </section>

      <div class="slide space">
        <iframe title="Traffic is up" aria-label="Interactive line chart" id="datawrapper-chart-hKLU9" src="//datawrapper.dwcdn.net/hKLU9/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>

      <section class="body">
        <p>On the whole, Minnesotans are back to typical isolation levels as well, according to Unacast data that measures social distancing. Minnesota's grade had been sliding gradually from a B+ when shelter-in-place started in March, reached a D- just before it ended, and now, like much of the United States, sits at an F.</p>
      </section>

      <!-- <div class="slide space">
        <iframe title="Distancing is down" aria-label="Interactive line chart" id="datawrapper-chart-A8Evn" src="//datawrapper.dwcdn.net/QE2gu/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div> -->

      <section class="body">
        <p>On the whole, Minnesotans are back to typical isolation levels as well, according to Unacast data that measures social distancing. Minnesota's grade had been sliding gradually from a B+ when shelter-in-place started in March, reached a D- just before it ended, and now, like much of the United States, sits at an F.</p>
      </section>



      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Some things remain altered</h2>

        <p>Even though transit routes have started opening back up, some restrictings and service reductions remain across the Twin Cities metro area. That, combined with continued work-from-home arrangements, seem to still be depressing ridership on buses and light rail.</p>
      </section>

      <div class="slide space">
        <iframe title="Transit is down" aria-label="Interactive line chart" id="datawrapper-chart-A8Evn" src="//datawrapper.dwcdn.net/A8Evn/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>

      <section class="body">
        <p>Bars and restaurants will still be missing crowds for a long while too, since even with the reopening of outdoor roof and patio dining, restrictions on capacity and required reservations seem have kept patrons eating at home.</p>
      </section>

      <div class="slide space">
        <iframe title="Dining is down" aria-label="Interactive line chart" id="datawrapper-chart-1IlCk" src="//datawrapper.dwcdn.net/1IlCk/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>


<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Even as Minnesota gradually reopens, daily life remains altered" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
