<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/coronavirus/">Coronavirus</a></span></h5>
    <h1>Summer might be canceled, but Minnesotans are distancing less</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">Updated July 2, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>
      <section class="container-lg leadin">
        <p>As COVID-19 lockdowns gradually ease and the aftermath of civil unrest settles, Minnesotans are socially distancing less and are more engaged with summertime activities.</p>

        <p>Yet with many summer events canceled, several restrictions still in place and mounting concerns over possible spikes in coronavirus cases, normalcy seems far off, and may not fully return anytime soon.</p>

        <p>Data from various sources reveal some ways Minnesotans have started returning to normal routines – and other ways that life remains altered. And if a second viral wave hits later this year, some of these metrics may retreat again.</p>

        <p>As new data are obtained, this page may be updated.</p>
      </section>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Vehicular traffic has roared back</h2>

        <p>Despite traffic density falling significantly since shelter-in-place orders took effect statewide, Minnesota Department of Transportation daily tracking shows the volume of vehicles now looks more like last year at this time.</p>

        <p>Weekend activity has been lower than usual since coronavirus struck, partially due to big events being canceled.</p>
      </section>

      <div class="slide space">
        <iframe title="Traffic is up" aria-label="Interactive line chart" id="datawrapper-chart-2mMUF" src="//datawrapper.dwcdn.net/2mMUF/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>


      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Social distancing breaks down</h2>
        <p>On the whole, Minnesotans are back to typical isolation levels <a href="https://www.startribune.com/how-minnesotans-are-lightening-up-on-social-distancing/568966921/">after slacking off for a while</a>. Unacast, a company tracking social distancing with cellphone data, <a href="https://www.unacast.com/covid19/social-distancing-scoreboard?view=state&fips=27" target="new_">shows Minnesota's grade</a> slid from a B in March to and F by June – where much of the United States sits now.</p>
      </section>

      <div class="slide space">
        <div class="chart-title">Unacast social distancing grades for Minnesota</div>
        <ul class="timeline" id="timeline">
          <li class="li gradeb complete">
            <div class="timestamp">
              <span class="date">Mar. 28<span>
            </div>
            <div class="status">
              <h4 class="gradeb">B</h4>
            </div>
          </li>
          <li class="li gradec complete">
            <div class="timestamp">
              <span class="date">Apr. 25<span>
            </div>
            <div class="status">
              <h4 class="gradec">C</h4>
            </div>
          </li>
          <li class="li graded complete">
            <div class="timestamp">
              <span class="date">May 13<span>
            </div>
            <div class="status">
              <h4 class="graded">D</h4>
            </div>
          </li>
          <li class="li graded complete">
            <div class="timestamp">
              <span class="date">June 20<span>
            </div>
            <div class="status">
              <h4 class="gradef">F</h4>
            </div>
          </li>
         </ul>     
         <div class="byline">
          <div>Chart: Jeff Hargarten, Star Tribune • Source: Unacast</div>
      </div>
      </div>

      <section class="body">
        <p>And Google data shows where Minnesotans are going: mostly to parks and other recreation areas to take advantage of Minnesota's summer weather.</p>

        <p>Minnesotans are also going to retail stores about 19% less than normal, but that’s a big jump from late March when it was 58% below normal, according to Google’s tracking data.</p>
      </section>

      <div class="slide space">
        <iframe title="Minnesotans are more active, but in different ways" aria-label="Interactive line chart" id="datawrapper-chart-37PQQ" src="https://datawrapper.dwcdn.net/37PQQ/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="594"></iframe>    
      </div>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Restaurant diners are returning, slowly</h2>
        <p>Bars and restaurants may be missing typical crowds for a while, even with the reopening of indoor and outdoor dining.</p>

        <p>But even with restrictions placed on restaurants in terms of distancing and reservations, <a href="https://www.opentable.com/state-of-industry">numbers from OpenTable</a> show patrons are piling back into sit-down eating establishments after months of most places being either closed or confined to takeout and delivery.</p>

        <p>This return slowed down a bit the past week, particularly in Minneapolis compared to statewide and national trends.</p>
      </section>

      <div class="slide space">
        <iframe title="Dining is down" aria-label="Interactive line chart" id="datawrapper-chart-1IlCk" src="//datawrapper.dwcdn.net/1IlCk/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>

      <div class="rule"></div>
      <section class="body">
        <h2 class="chartTitle">Buses and trains remain emptier</h2>

        <p>Mandatory safety precautions and service reductions continue for Metro Transit across the Twin Cities area. That, combined with continued work-from-home arrangements, have depressed ridership on buses and light rail.</p>

        <p>Ridership ceased completely as Metro Transit shut down over the period of unrest and mandatory curfews enforced shortly after the death of George Floyd, but has since bounced back to prior levels.</p>
      </section>

      <div class="slide space">
        <iframe title="Transit is down" aria-label="Interactive line chart" id="datawrapper-chart-A8Evn" src="//datawrapper.dwcdn.net/A8Evn/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>


<section class="container-lg">

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota is reopening, but falls short of normalcy" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
