/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */


// Include strib-icons
$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.10/';
@import '@striblab/strib-icons/build/strib-icons.scss';


// Environment noting
@import "shared/_environment";

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss

// Assumed that this project lives within an existing page, so we add a
// wrapper that is very specific and wrap our other styles in it so
// that we don't affect other styles on the page.  Note that
// this increases the CSS size, and it means strib-styles won't use
// rems when it would otherwise.
$selector-wrapper: '.strib-styles.ssa.ssb.ssc';
@import '@striblab/strib-styles/source/styles/default-wrapper.scss';

// Project specific styles.  Split styles into files per component
#{$selector-wrapper} {
  // Split your styles into multiple files so its easier to understand and change
  @import 'shared/_project';
}

.topper a {
  color:#333333 !important;
  text-decoration:none !important;
}

#timeline {
  width: 84%;
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.timestamp {
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-size:12px;
}

.complete {
  margin-top:25px;
}

.gradeb {
  color:#8cbf82;
}

.gradec {
  color:#D9D3EB;
}

.graded {
  color:#7D739C;
}

.gradef {
  color:#4A4061;
}

.gradeb:before  {
  background-color:#8cbf82 !important;
}

.gradec:before  {
  background-color:#D9D3EB !important;
}

.graded:before  {
  background-color:#7D739C !important;
}

.gradef:before  {
  background-color:#4A4061 !important;
}

.status {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
}

#timeline h4 {
    font-weight: 600;
    margin-top:11px !important;;
  &:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 37%;
  }

  }

.li.complete 
  .status {
    border-top: 2px solid #D6DCE0;
    &:before {
      background-color: #66DC71;
      border: none;
    }
    h4 {
      text-align:center;
    }
  }

  .chart-title {
    font-family: "Benton Sans";
    font-weight: 700;
    font-size: 19px !important;;
    color: #333;
    line-height: 20px;
    margin-bottom:25px;
  }
  

@media (min-width: 320px) and (max-width: 500px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timestamp {
    width: 100px;
  }
  .status {
    &:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in; 
    }
  }

  .li.complete .status {
    border-top: 0 !important;
}

#timeline {
  padding-top:5px;
}
  #timeline h4:before {
    left: 27%;
  }
}

